<style >
.content-wrapper{
  margin-top: 0px;
  height: 100%;
}
</style>

<template class="A container-fluid">
  <header class="main-header">
    <a href="" class="logo">FieldSonar</a>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li v-on:click="mode_change()"><a class="mode-changer"><i class="fa fa-sign-out"></i>モード切り替え</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <!-- メニューヘッダ -->
                    <li class="header">メニュー一覧</li>
                    <!-- メニュー項目 -->
                    <li v-on:click="mode_change()"><a class="mode-changer"><i class="fa fa-sign-out"></i>モード切り替え</a></li>
                    <li><a>ログアウト</a></li>
                </ul>
            </section>
        </aside><!-- end sidebar -->
        <div class="content-wrapper">
  <formcomponent :page="page"></formcomponent>
  <map v-if="page != null" ></map>
  </div>
</template>

<script>
import Vue from 'vue';
import Form from './Form.vue';
import Map from './Map.vue';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  components: {
    'formcomponent': Form,
    'map': Map
  },
  data: function () {
    return {
      page: null
    }
  },
  methods: {
    mode_change: function(){
      console.info("[A] mode_change() mode: " + this.page);
      if(this.page == "map"){
        console.info("[A] mode_change() map -> null");
        this.page = null;
      }else{
        console.info("[A] mode_change() null -> map");
        this.page = "map";
      }
    }
  },
  created(){
    console.info("[A] created");
  },
  ready(){
    console.info("[A] ready");
  }
}
</script>
