<style >
.B{
  height: 100%;
}

.mode-changer{
  font-size: 16px;
}

.content-wrapper{
  margin-top: 0px;
  height: 100%;
}
</style>

<template class="B container-fluid">
  <header class="main-header">
    <a href="" class="logo">FieldSonar</a>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li v-on:click="normal_mode()"><a class="mode-changer"><i class="fa fa-sign-out"></i>ノーマルモード</a></li>
            <li v-on:click="map_mode()"><a class="mode-changer"><i class="fa fa-sign-out"></i>マップモード</a></li>
            <li v-on:click="soutsui_mode()"><a class="mode-changer"><i class="fa fa-sign-out"></i>キーワード分布図</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <!-- メニューヘッダ -->
                    <li class="header">メニュー一覧</li>
                    <!-- メニュー項目 -->
                    <li v-on:click="normal_mode()"><a class="mode-changer"><i class="fa fa-sign-out"></i>ノーマルモード</a></li>
                    <li v-on:click="map_mode()"><a class="mode-changer"><i class="fa fa-sign-out"></i>マップモード</a></li>
                    <li v-on:click="soutsui_mode()"><a class="mode-changer"><i class="fa fa-sign-out"></i>キーワード分布図</a></li>
                    <li><a>ログアウト</a></li>
                </ul>
            </section>
        </aside><!-- end sidebar -->
    <div class="content-wrapper">
    <formcomponent :page="page"></formcomponent>
    <map v-if="page === 'map'"></map>
    <soutsui v-if="page == 'soutsui'"></soutsui>
  </div>
</template>

<script>
import Vue from 'vue';
import Form from './Form.vue';
import Map from './Map.vue';
import Soutsui from './Soutsui.vue';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  components: {
    'formcomponent': Form,
    'map': Map,
    'soutsui': Soutsui
  },
  data: function () {
    return {
      page:null
    }
  },
  methods: {
    map_mode: function(){
      this.page = "map";
    },
    soutsui_mode: function(){
      this.page = "soutsui";
    },
    normal_mode: function(){
      this.page = "normal";
    }
  },
  created(){
    console.info("[A] created");
  },
  ready(){
    console.info("[A] ready");
  }
}
</script>
